*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Colors*/

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

body{
    background-color: var(--Violet);
}

.contents{
    width: 90vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.picture{
    width:100%;
    color: var(--Soft-Magenta);
}

.item-tittle{
    font-family: 'Poppins', sans-serif;
    font-weight: 600  ;
    color: white;
    text-align: center;
}

.item-text{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding:0.5rem; 
}



.reg-butt{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    text-decoration: none;
    background-color: white;
    color: var(--Violet);
    width: 11.875rem;
    height: 2.5rem;
    border-radius:2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.315);
    margin-top: 1.875rem;
}

.footer{
    width:100%;
}

.links{
    text-align: center;
}

.link{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 5px
}

.fab{
    padding: 25% 0;
}

@media (max-width:768px){

    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }

    .contents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    .logo-box  ; .items ; .footer{
        height: 33.33333333333333vh;
       
    }
    .logo-box{
        margin: 35px 0;
    }
    .logo{
        width:40%
    }

    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .item-picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        padding:10px;
    }

    .picture{
        width: 95%;
    }
    .texts{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .item-tittle {
       padding: 1rem
    }

    .item-text{
        padding: 0 0.9375rem;
    }
    .footer{
        margin:40px 0;
    }
}


@media (min-width:1024px){

    body{
        background-image: url(images/bg-desktop.svg);
        background-repeat: no-repeat;
        /* background-position: center; */
    }

    .contents{
        max-width: 1440px;
        display: flex;
        flex-direction: column;
    }
    .logo-box{
        margin: 4% 0 7%;
    }
    .logo{
        width: 15%;
    }

    .items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    .item-picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
    }
    .item-content{
        width:40vw;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 50px 0 0 50px;
    }
    .item-tittle {
       font-size:2rem;
       text-align: start;
       padding-right: 10rem;
    }

    .item-text{
        text-align: start;
        padding-right: 3.25rem;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 25px;
    }
}